:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-white-color: #ffffff;
  --background-color-hero: #2f303a;
  --color-logo: #000000;
  --color-hero-button: #188ce8;
  --background-section-team: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-white-color);
  color: var(--primary-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER */

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ccc;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid teal;
}

.logo {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* ГЕРОЙ */

.section-hero {
  padding: 200px 0;
  text-align: center;
  background: var(--background-color-hero);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-white-color);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--color-hero-button);
}

.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  border-color: transparent;
  letter-spacing: 0.06em;
  color: var(--secondary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* ОСОБЛИВОСТІ */
.title-section {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.peculiarities {
  background-color: aqua;
  padding-top: 95px;
  padding-bottom: 95px;
}

.peculiarities-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.peculiarities-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Чим ми займаємося */

.occupation {
  background-color: crimson;
  padding-bottom: 95px;
}

/* Наша команда */

.team-section {
  background-color: darkviolet;
  padding: 95px 0;
  /* background: var(--background-section-team); */
}

.team-list {
}

.team-item {
  padding-bottom: 30px;
  background-color: var(--secondary-white-color);
}

.team-image {
  margin-bottom: 30px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* футер */

.footer-section {
  padding: 60px 0;
  background: var(--background-color-hero);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  text-decoration: none;
}

.footer-address {
  display: inline-block;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  text-decoration: none;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-link {
  display: inline-block;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link);
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* п о р т ф о л и о */

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;
  color: var(--title-text-color);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  min-width: 73px;
  border-radius: 4px;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  color: var(--secondary-white-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

.portfolio-photo {
  text-decoration: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
